sclblonnx==0.3.0
onnx==1.14.0
onnx-simplifier==0.4.35
onnxoptimizer==0.3.13
ultralytics @ git+https://github.com/sunsmarterjie/yolov12
torch==2.2.2 
torchvision==0.17.2
timm==1.0.14
albumentations==2.0.4
onnxruntime==1.15.1
pycocotools==2.0.7
PyYAML==6.0.1
scipy==1.13.0
onnxslim==0.1.31
gradio==4.44.1
opencv-python==4.9.0.80
psutil==5.9.8
py-cpuinfo==9.0.0
huggingface-hub==0.23.2
safetensors==0.4.3
numpy==1.26.4